[project]
	description = cqfd - run builds inside the Docker container configured in your project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jérôme Oufella (joufella)
[access "refs/for/refs/*"]
	read = group user/Jérôme Oufella (joufella)
	push = group user/Jérôme Oufella (joufella)
	label-Code-Review = -2..+2 group user/Jérôme Oufella (joufella)
	label-Verified = -1..+1 group user/Jérôme Oufella (joufella)
	rebase = group user/Jérôme Oufella (joufella)
	removeReviewer = group user/Jérôme Oufella (joufella)
	submit = group user/Jérôme Oufella (joufella)
[access "refs/heads/*"]
	read = group user/Jérôme Oufella (joufella)
	create = group user/Jérôme Oufella (joufella)
	push = +force group user/Jérôme Oufella (joufella)
	pushMerge = group user/Jérôme Oufella (joufella)
[access "refs/tags/*"]
	push = +force group user/Jérôme Oufella (joufella)
	pushTag = group user/Jérôme Oufella (joufella)
	pushSignedTag = group user/Jérôme Oufella (joufella)
